.host-page {
  display: flex;
  flex-direction: column;
}

.host-page-header {
  text-align: center;
  background-color: cadetblue;
}

.host-page-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}