.host-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, white, #b3d8ff);
  background-attachment: fixed;
  font-family: 'Abril Fatface', serif;
}

.host-page-header {
  text-align: center;
}

.host-page-header h1 {
  margin-top: 0;
}

.host-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host-page-content h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

.host-page-start-party {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .host-page-header h1 {
    margin: 0em;
  }

  .host-page-content {
    margin-top: 1em;
  }
}