.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.playlist-header {
  margin-bottom: 0.5em;
}

.show-controls .playlist-content {
  margin-left: 4.5em;
}

.playlist-song-item {
  display: flex;
  align-items: center;
  position: relative;
}

.playlist-song-item::after {
  content: '';
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, transparent, #9acbff, transparent);
}

.playlist-song-details {
  padding: 0 1em;
  flex: 1;
  text-align: center;
}

.playlist-avatars {
  display: flex;
  justify-content: center;
  margin-left: 1em;
}

.playlist-avatars .MuiAvatar-root {
  transition: box-shadow 0.3s ease;
}

.playlist-avatars .MuiAvatar-root:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .playlist {
    margin-left: 0;
  }

  .playlist-header {
    padding-right: 0;
  }

  .show-controls .playlist-content {
    margin-left: 0;
  }

  .playlist-song-item {
    flex-direction: column;
  }

  .playlist-song-details {
    text-align: left;
    margin-bottom: 0.5em;
    text-align: center;
  }
}
