.scrollToTopButton {
  position: fixed;
  bottom: 2em;
  right: 2em;
  z-index: 999;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.scrollToTopButton.show {
  opacity: 1;
}

.scrollToTopButton:hover {
  background-color: #f2f2f2;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
