.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  /* background-color: cadetblue; */
}

.logo {
  height: 125px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.center {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-right: 8em;
}

/* Mobile view */
@media (max-width: 768px) {
  .nav-items {
    flex-direction: column;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
  }
}
