.user-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, white, #b3d8ff);
  font-family: 'Abril Fatface', serif;
  /* align-items: center; */
}

.user-page-header {
  text-align: center;
}

.user-page-body {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  align-items: center;
}

.user-page-search-bar {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user-page-song-details {
  text-align: center;
  justify-content: center;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

@media (max-width: 768px) {
  .user-page {
    flex-direction: column;
  }

  .user-page-search-bar {
    bottom: 60%;
  }

  .now-playing {
    width: 90%;
  }
}
